*{
  padding: 0px;
  margin: 0px;
  font-family: "Slabo 27px", serif;
}
.fade-in {
  animation: fadeIn 8s;
}

@keyframes fadeIn{
  0%{
      transform: translateX(600px);
  }
  50%{
      transform: translateX(-100px);
  }
  100%{
      transform: translate(-100);
  }
}
